<div style="
color: white; 
background-color: #FF0000; 
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size:25px">
  <h1 style= "padding-left: 20px">
    {{title}}
  </h1>
</div>
<h1 style="
color: yellow; 
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: black;
padding-left: 40px; line-height: 0px">
  {{description}}
</h1>
<div style= "padding-left: 60px;">
  <app-test-es></app-test-es>
  <button routerLink="">Home</button>
</div>