<h2 style="padding-left: 20px"> Edit Hero</h2>
<Table style="padding-left: 60px">
  <tr><th>Rank: </th><td><input #rank value="{{hero.rank}}"></td></tr>
  <tr><th>Hero Name: </th><td><input #alias value={{hero.alias}}></td></tr>
  <tr><th>Name: </th><td><input #name value={{hero.name}}></td></tr>
  <tr><th>Quirk: </th><td><input #quirk value={{hero.quirk}}></td></tr>
  <tr>
    <td style="text-align: right;">
    </td>
    <td style="text-align: left;">
      <button routerLink="" (click)="submit(name.value, alias.value, quirk.value, rank.value)" style="width: 50%">
        Submit
      </button>
    </td>
  </tr>
</Table>